.btn, .btn-edit, .btn-delete {
    text-decoration: none;
    padding: 8px 12px;
    margin: 5px;
    display: inline-block;
    color: white;
    border-radius: 5px;
}

.btn { background-color: green; }
.btn-edit { background-color: orange; }
.btn-delete { background-color: red; }

form {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input, form button {
    padding: 10px;
    margin: 8px 0;
}
